<div class="container">

  <ng-container *ngIf="(allUsers | async)">
    <div *ngFor="let user of (allUsers | async)">
      <section class="feed-container" *ngFor="let feed of user.feeds">
        <!-- <div class="user-banner">
          <img
            class="avatar"
            src="../assets/images/{{ user.firstName | lowercase }}.png"
            alt=""
          />
          <span class="username">{{ user.firstName }} {{ user.lastName }}</span>
        </div> -->
        <app-feed [feed]="feed" [userOut]="userOut"></app-feed>
      </section>
      <hr />
    </div>
  </ng-container>

  <section class="feed-container" *ngFor="let feed of (user | async)?.feeds">
    <!-- <div class="user-banner">
      <img
        class="avatar"
        src="../assets/images/{{ (user | async)?.firstName | lowercase }}.png"
        alt=""
      />
      <span class="username">{{ (user | async)?.firstName }} {{ (user | async)?.lastName }}</span>
    </div> -->
    <app-feed [feed]="feed" [userOut]="userOut"></app-feed>
  </section>
</div>
